.header {
  display: flex;
  flex-flow: column;
  width: 100%;
  padding-bottom: 40px;
  font-family: 'Montserrat';
  font-weight: 300;
  &__left {
    img {
      display: block;
      width: 80%;
      height: auto;
      margin: 0 auto;
      padding-bottom: 25px;
    }
  }
  &__right {
    display: none;
    img {
      display: block;
      margin: 0 auto;
      width: 40%;
      max-width: 280px;
      height: auto;
    }
    &-powered, &-eesa-eng, &-eesa-esp {
      text-align: center;
    }
  }

}

@include tablet() {
  .header {
    &__right {
      &-powered, &-eesa-eng, &-eesa-esp {
        font-size: 18px;
      }
    }
    &__left {
      img {
        width: 80%;
      }
    }
  }
}

@include desktop() {
  .header {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    height: 180px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    &__left {
      max-width: 77%;
      margin-top: 24px;
      align-self: start;
      img {
        width: 40%;
        height: auto;
        margin-left: 0;
      }
    }
    &__right {
      min-width: 23%;
      align-self: flex-start;
      img {
        width: 180px;
        height: 60px;
        margin-right: 0;
      }
      &-powered, &-eesa-eng, &-eesa-esp {
        text-align: right;
      }
    }
  }
}
