body {
  min-height: 100vh;
  background-color: black;
  background-image: url('assets/images/Milky-Way-Above-Earth-4K-UltraHD-16-10-Widescreen-3840x2400.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.space {
  padding: 50px 5%;
  color: $white;
  text-align: center;
  font-family: 'Montserrat';
  font-weight: 300;
  &__body {
    display: flex;
    flex-flow: column;
    align-items: center;
    h1 {
      margin-bottom: 20px;
      font-size: 38px;
      text-align: center;

    }
    h2 {
      margin-bottom: 30px;
      font-size: 32px;
    }
    h4 {
      font-size: 24px;
    }
    p {
      font-size: 18px;
    }
  }
  &__body-newsletter {
    width: 80%;
    margin-bottom: 60px;
    input {
      height: 50px;
      width: 100%;
      max-width: 400px;
      margin-bottom: 10px;
      text-align: center;
      border-color: transparent;
      border-radius: 6px;
    }
    input:focus {
      outline: none;
    }
    form {
      display: flex;
      flex-flow: column;
      align-items: center;
      padding: 20px 0;
    }
  }
  &__body-email {
    background-color: rgba(33, 64, 114, 0.6);

  }
  &__body-submit {
    background-color: #00a8e1;
  }
  &__body-main {
    display: flex;
    flex-flow: column;
    align-items: center;
    img {
      width: 300px;
      height: auto;
    }
  }
  &__body-text {
    display: flex;
    flex-flow: column;
    align-items: center;
    p {
      margin: 4px auto;
    }
  }
  &__body-text::before {
    position: relative;
    margin-bottom: 20px;
    display: block;
    content: '';
    height: 2px;
    width: 100%;
    max-width: 510px;
    background-color: rgba(255, 255, 255, 0.5);
  }
}
footer {
  img {
    width: 80px;
    margin-top: 40px;
  }
  a {
    display: block;
    width: auto;
    margin: 0 auto 30px;
  }
  span {
    font-size: 12px;
  }
  .footer__share {
    display: flex;
    flex-flow: column;
    &-sun {
      &-text {
        margin-bottom: 10px;
      }
      &-img {
        width: 160px;
        margin-top: 0;
      }
    }
  }
}

@include tablet() {
  .space {
    padding: 70px 5%;
    &__body {
      h1 {
        font-size: 42px;
      }
      h2 {
        font-size: 30px;
      }
      h4 {
        font-size: 30px;
      }
      p {
        font-size: 20px;
      }
    }
  }
  footer {
    img {
      margin-top: 0;
    }
    a {
      margin: 0;
    }
    .footer__share {
      flex-flow: row;
      max-width: 360px;
      margin: 40px auto;
      justify-content: space-around;
      align-items: center;
    }
  }
}

@include desktop() {
  .space {
    padding: 60px 7%;
    &__body {
      h1 {
        margin-bottom: 8px;
        font-size: 48px;
      }
      h2 {
        max-width: 1240px;
        margin-bottom: 20px;
        font-size: 36px;
      }
      h4 {
        font-size: 36px;
      }
      p {
        font-size: 20px;
      }
    }
    &__body-newsletter {
      input {
        height: 40px;
        max-width: 450px;
      }
      form {
        padding-top: 0;
      }
    }
  }
  footer {
    img {
      width: 70px;
    }
    .footer__share {
      max-width: 520px;
      &-telegram {
        margin-left: 60px;
      }
      &-sun {
        display: flex;
        align-items: center;
        &-text {
          margin-right: 10px;
        }
      }
    }
  }
  
}
