/****************
* Font families *
****************/

@font-face {
  font-family: 'Elemental End';
  src: url('./assets/fonts/Elemental End.ttf');
}

@font-face {
  font-family: 'Elemental End italic';
  src: url('./assets/fonts/Elemental End italic.ttf');
}


$elemental: 'Elemental End';
$elemental-ita: 'Elemental End italic';